
html, body, #root {
  height: 100%;
  min-height: 100%;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  margin: 0;
  padding: 0;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(180deg, #95d7df 0%, #5e74a1 50%, #95d7df 100%);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
 
  }
  body {
    background: linear-gradient(180deg, #eaf6ff 0%, #cfe3ff 60%, #eaf6ff 100%);
  }
}
